/* -- FONTS -- */
@import url("https://fonts.cdnfonts.com/css/maison-neue");

/* -- GENERAL -- */
*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --container-width: 1280px;
  --color-primary: #2aaeb7;
  --color-secondary: #c2175b;
  --color-grey-bg: #eaedee;
  --color-grey-bg-search: #f5f6f7;
  --color-grey-font: #999999;
  --border-radius: 5px;
}

body {
  font-family: "Maison Neue", sans-serif;
  font-weight: 300;
}

/* -- GENERAL: TAG AND SHARED CLASSES -- */
svg {
  height: 24px;
  color: #999999;
}

h1,
h2 {
  font-size: 1.5em;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

input,
textarea {
  accent-color: var(--color-primary);
  font: inherit;
  border: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

select {
  font: inherit;
  cursor: pointer;
  background-color: white;
  border: 1px solid grey;
  border-radius: var(--border-radius);
}

select:focus-visible {
  outline: var(--color-primary);
}

button {
  font: inherit;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.btn {
  background-color: white;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.btn-primary {
  color: white;
  background-color: var(--color-primary);
}

.btn-secondary {
  color: white;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
}

.container {
  max-width: min(var(--container-width), 95svw);
  margin: 0 auto;
}

/* default : temporary ? */
img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
}

/* -- AUTHENTIFICATION FORMS -- */

.auth-form-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-container a:last-of-type {
  color: var(--color-primary);
  cursor: pointer;
}

.auth-form-container form {
  margin: 20px 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form-container input {
  accent-color: var(--color-secondary);
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  padding: 0.5em 0;
}

.auth-form-container input::placeholder {
  color: grey;
}

.auth-form-container input:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--color-secondary);
}

.auth-form-container [type="checkbox"] {
  margin-right: 1em;
}

.auth-form-container button {
  margin-top: 15px;
  text-align: center;
}

.auth-form-container .error {
  margin: 15px 0;
  color: var(--color-secondary);
}

/* -- OFFER ROUTE -- */

.offer-container {
  background-color: var(--color-grey-bg);
  padding: 45px 0;
}

.offer-container .container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.offer-container .container > img {
  width: 400px;
  height: 600px;
  object-fit: cover;
}

/* -- PUBLISH ROUTE -- */

.publish-container {
  background-color: var(--color-grey-bg);
  padding: 45px 0;
}

/* -- PAYMENT ROUTE --*/
/* -- this pattern could be factored in a class --*/
.payment-container {
  min-height: 100svh;
  background-color: var(--color-grey-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
