@import url("https://fonts.cdnfonts.com/css/maison-neue");

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --container-width: 1280px;
  --color-primary: #2aaeb7;
  --color-secondary: #c2175b;
  --color-grey-bg: #eaedee;
  --color-grey-bg-search: #f5f6f7;
  --color-grey-font: #999999;
  --border-radius: 5px;
}

body {
  font-family: "Maison Neue", sans-serif;
  font-weight: 300;
}

svg {
  height: 24px;
  color: #999999;
}

h1,
h2 {
  font-size: 1.5em;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}

input,
textarea {
  accent-color: var(--color-primary);
  font: inherit;
  border: none;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

select {
  font: inherit;
  cursor: pointer;
  background-color: white;
  border: 1px solid grey;
  border-radius: var(--border-radius);
}

select:focus-visible {
  outline: var(--color-primary);
}

button {
  font: inherit;
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.btn {
  background-color: white;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  padding: 0.5em 1em;
}

.btn-primary {
  color: white;
  background-color: var(--color-primary);
}

.btn-secondary {
  color: white;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

/* default : temporary ? */
img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
}

/* -- HEADER -- */

/* -- HERO -- */

/* -- PRODUCTS -- */
/* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
} */

/* .product {
  width: calc((100% - 4 * 20px) / 5);
  color: grey;
}

.product-header {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-header .user {
  height: 40px;
}

.product-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
} */

/* .product-footer {
  padding: 10px;
}

.product-footer .price {
  color: black;
} */

/* -- CARD-BIG -- */
/* .product-card-big {
  height: 600px;
  width: 460px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px; 
  background-color: white;
}

.product-card-big .price {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.product-card-big li {
  margin: 5px 0;
  display: flex;
  font-size: 0.9rem;
}

.product-card-big li span {
  width: 50%;
}

.product-card-big li > :first-child {
  color: grey;
} */

/* .product-card-big hr {
  width: 100%;
}

.product-card-big .name {
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card-big .description {
  color: grey;
}

.product-card-big button {
  margin: 10px 0;
  padding: 0.5em 0;
  font-size: 1.2rem;
  text-align: center;
} */

/* .user {
  --size: 100px;
  height: var(--size);
  display: flex;
  align-items: center;
  gap: 10px;
}

.user .avatar {
  background-color: var(--color-primary);
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  /* display: flex;
  justify-content: center;
  align-items: center; 
}

.user .avatar img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
} */

.product-card-big .user {
  --size: 60px;
  margin: 10px 0;
}

.offer {
  background-color: lightgrey;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.offer > img {
  height: 600px;
  width: 460px;
  object-fit: cover;
}

/* -- AUTH FORMS -- */

.auth-form-container {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-container a:last-of-type {
  color: var(--color-primary);
  cursor: pointer;
}

.auth-form-container form {
  margin: 20px 0;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-form-container input {
  accent-color: var(--color-secondary);
  border: none;
  border-bottom: 1px solid var(--color-secondary);
  padding: 0.5em 0;
}

.auth-form-container input::placeholder {
  color: grey;
}

.auth-form-container input:focus-visible {
  outline: none;
  border-bottom: 2px solid var(--color-secondary);
}

.auth-form-container [type="checkbox"] {
  margin-right: 1em;
}

.auth-form-container button {
  margin-top: 15px;
  text-align: center;
}

.auth-form-container .error {
  margin: 15px 0;
  color: var(--color-secondary);
}

/* -- OFFER ROUTE -- */

.offer-container {
  background-color: var(--color-grey-bg);
  padding: 45px 0;
}

.offer-container .container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.offer-container .container > img {
  width: 400px;
  height: 600px;
  object-fit: cover;
}

/* -- PUBLISH ROUTE -- */

.publish-container {
  background-color: var(--color-grey-bg);
  padding: 45px 0;
}
